<h1 align="center">Editing lesson</h1>
<hr/>
<%= render 'form' %>

<table align="center">
  <td>
    <tr><%= link_to 'Show', @lesson %> |</tr>
    <tr><%= link_to 'Back', lessons_path %></tr>
  </td>
</table>
